<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GSM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <GSM.Properties.Settings>
            <setting name="CBox1" serializeAs="String">
                <value />
            </setting>
            <setting name="CBox2" serializeAs="String">
                <value />
            </setting>
            <setting name="NamberPhone" serializeAs="String">
                <value />
            </setting>
            <setting name="ATDStatys" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NamberPY" serializeAs="String">
                <value />
            </setting>
        </GSM.Properties.Settings>
    </userSettings>
</configuration>